/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-background: var(--vt-c-black);*/
/*    --color-background-soft: var(--vt-c-black-soft);*/
/*    --color-background-mute: var(--vt-c-black-mute);*/

/*    --color-border: var(--vt-c-divider-dark-2);*/
/*    --color-border-hover: var(--vt-c-divider-dark-1);*/

/*    --color-heading: var(--vt-c-text-dark-1);*/
/*    --color-text: var(--vt-c-text-dark-2);*/
/*  }*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
      color 0.5s,
      background-color 0.5s;
  line-height: 1.6;
  font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  width: 100%;
}
.home-btn {
  font-size: 1.25em;
}

.top-menu {
  justify-self: center;
}

.container-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.container-subtitle {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}
.container-content {
  font-size: 1.25em;
}

.container-card {
  display: flex;
  gap: 1em;
}
.card {
  padding: 2em 1em;
  width: 100%;
  max-height: 100vw;
  text-align: center;
  border: #222222 solid 1px;
  border-radius: 0.8em;
}
.card-icon {
  height: 7em;
}
.card-title {
  font-size: 1.3em;
}
.card-content {
  font-size: 1em;
}

.creator-card-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.creator-card-icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.creator-card-name {
  font-size: 1.3em;
  align-content: center;
}
.creator-works-title {
  margin: 2em 0 1em 0;
  font-size: 1.5em;
  text-align: center;
}
.creator-works-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}
.work {
  width: 100%;
  height: 220px;
}

@media (max-width: 768px) {
  .container-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .creator-works-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
  }
}