@import './base.css';

#app {
  max-width: 768px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  position: relative;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
}

.relative-gap {
  margin: 22em 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* PC용 메뉴 */
.nav {
  display: flex;
  font-size: 1.25em;
  gap: 20px;
  position: relative;
  top: 0;
}

.menu-btn {
  background: none;
  border: none;
  display: none;
}

/* 모바일 */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1000;
    font-size: 1.25em;
    background: white;
  }

  .nav {
    position: absolute;
    top: 56px;
    right: 0;
    transform: none;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    display: none;
    background: white;
  }

  .nav.open {
    display: flex;
  }

  .relative-gap {
    margin: 12em 0;
  }
}