@import './base.css';

#app {
  max-width: 768px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  position: relative;
}

a,
.green {
  text-decoration: none;
  color: #00DE64;
  transition: 0.4s;
  padding: 3px;
}

.relative-gap {
  padding: 22em 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

/* PC용 메뉴 */
.nav {
  display: flex;
  font-size: 1.25em;
  gap: 20px;
  position: relative;
  top: 0;
}

.menu-btn {
  background: none;
  border: none;
  display: none;
}

/* 모바일 */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 12px;
    font-size: 1.25em;
    color: #00DE64;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    transform: none;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    display: none;
    background: rgba(0, 0, 0, 0.7);
  }

  .nav.open {
    display: flex;
  }

  .relative-gap {
    padding: 12em 0;
  }
}
.section-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.deco1 {
  position: absolute;
  top: 30%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
  width: 100%;
  height: 70%;
  opacity: 0.5;
  background-color: white;
}
.deco2 {
  position: absolute;
  top: 0;
  clip-path: polygon(0 100%, 0 0%, 0 0, 100% 90%);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #737373;
}
.about, .service, .creator{
  padding: 5em 0;
}
.about, .creator {
  color: #002157;
}
.about>.section-bg {
  background: #ffffff;
}
.creator>.section-bg {
  background: #ffffff;
}
.creator-works>.section-bg {
  background: #3c3c3c;
}
section {
   position: relative;
 }